* {
    border-radius: 5px;
    margin: 0;
}

/* :root {
    --gradient: linear-gradient(rgba(153, 135, 235, 0.151), rgba(153, 135, 235, 0.062));
} */

html,
body {
    height: 100%;
    width: 100%;
    /* min-width: 600px; */
}

body {
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 25px 0;
}

h1, .top {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top {
    background-color: rgba(153, 135, 235, 0);
}

.toggle {
    opacity: 0;
    border-style: none;
    display: none;
}

.delete {
    display: none;
    border-radius: 50%;
    width: 14px;
    height:14px;
    margin:0px;
    padding:0px;
    background-color: rgba(153, 135, 235, 0.151);
    /* opacity: .75; */
}


.li:hover .delete, .li:hover .toggle {
    display: inline-block;
    opacity: 1;
    border-style: none;
}

.delete:hover {
    background-color: skyblue;
}

#how-to-button {
    margin: 0 auto;
}

.how-to {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width:100%;
    line-height: 1.5em;
    background-color: rgb(153, 135, 235);
}

.how-to > p {
    /* text-align: center; */
    color: white;
    padding: 6px;
}

.hidden {
    display: none;
}

#main {
    max-width: 80%;
    margin: 0 auto;
}

#todo-list > .li {
    line-height: 33px;
    border-bottom: 1px solid rgba(153, 135, 235, 0.486);
    border-bottom-left-radius: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(153, 135, 235, 0.151);
    margin-bottom: 11px;
}

#todo-list {
    background-color: rgba(153, 135, 235, 0.062);
    padding: 25px;
    overflow-x: scroll;
}

.nested .li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    border-image: radial-gradient(to right, #b861c6 0%,#ffc7c7 100%);
    border-image-slice: 1;
    border-width: 10px;
    min-width: 50px;
}

#clear-button, #clear-completed {
    margin-right: 22px;
    float: right;
    background-color:  rgba(153, 135, 235, 0.062);
}

#clear-button:hover,
#clear-completed:hover,
#todo-input:hover,
#how-to-button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#top-bar {
    background-color: rgba(153, 135, 235, 0.397);
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
}

#todo-input {
    background-color: rgba(153, 135, 235, 0.062);
    /* padding: 0px 44px; */
    margin-left: 22px;
}

#clear-button {
    display: none;
}

.todo-label {
    padding-left: 7px;
}

@media only screen and (max-width:600px) {

}