* {
    margin: 0;
    box-sizing: border-box;
}

/* :root {
    --gradient: linear-gradient(rgba(153, 135, 235, 0.151), rgba(153, 135, 235, 0.062));
} */

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 25px 0;
}

h1,
.top {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top {
    background-color: rgba(153, 135, 235, 0);
}

.toggle,
.delete,
.new-nested {
    opacity: 0;
}

.toggle {
    border-style: none;
}

.delete,
.new-nested {
    border-radius: 50%;
    width: 14px;
    height:14px;
    margin:0px;
    padding: 0px;
    background-color: rgba(153, 135, 235, 0.151);
}


.li:hover > .delete,
.li:hover > .toggle,
.li:hover > .new-nested {
    display: inline-block;
    opacity: 1;
    border-style: none;
}

.delete:hover,
.new-nested:hover {
    background-color: #b861c6;
    cursor: pointer;
}

#how-to-button {
    margin: 0 auto;
}

.how-to {
    opacity: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width:550px;
    line-height: 1.5em;
    background-color: rgba(153, 135, 235, 0.062);
    transition: transform 400ms ease-in-out,
    opacity 400ms ease-in-out;
}

.how-to > p {
    color: rgb(109, 109, 109);
    padding: 6px 0 6px 11px;
}

.hidden {
    opacity: 0;
    position: absolute;
    transform: translateY(-291px);
    z-index: -1;
}

#main {
    width: 550px;
    margin: 0 auto;
}

#todo-list > .li {
    line-height: 33px;
    border-bottom: 1px solid rgba(153, 135, 235, 0.486);
    border-bottom-left-radius: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    background-color: rgba(153, 135, 235, 0.151);
    margin-bottom: 11px;
    padding: 0 11px;
}

#todo-list {
    background-color: rgba(153, 135, 235, 0.062);
    padding: 25px;
    overflow-x: scroll;
}

.nested .li,
.how-to {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

.nested .li {
    border-image: radial-gradient(to right, #b861c6 0%,#ffc7c7 100%);
    border-image-slice: 1;
    border-width: 10px;
    min-width: 50px;
}

#clear-button, #clear-completed {
    margin-right: 25px;
    background-color:  rgba(153, 135, 235, 0.062);
}

#clear-button:hover,
#clear-completed:hover,
#how-to-button:hover,
.toggle:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#todo-input:hover {
    cursor:auto;
}

#top-bar {
    background-color: rgba(153, 135, 235, 0.397);
    padding: 22px 0;
    border-radius: 7px 7px 0 0;
    display: flex;
    justify-content: space-between;
}

#todo-input {
    background-color: rgba(153, 135, 235, 0.062);
    margin-left: 25px;
}

#clear-button {
    display: none;
}

.todo-label {
    padding: 0 8px;
}

.toggle,
.label {
    margin-left: 4px;
}

.delete,
.toggle,
.new-nested {
    transform: scale(1.2);
}

.new-nested {
    margin-left:9px;
}

@media only screen and (max-width:600px) {
    #main,
    .how-to {
        width: 400px;
    }
    #how-to-button,
    #clear-completed,
    #todo-input,
    .how-to {
        font-size: .7em;
    }
}